.column-layout {
    display: flex;
    flex-direction: column;
}
.master-view-container {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
}
.group {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    padding: 16px;
    height: 116px;
    min-width: 50px;
    min-height: 50px;
    max-height: 116px;
}
.row-layout {
    display: flex;
}
.group_1 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    min-width: 50px;
    min-height: 50px;
    flex-grow: 1;
    flex-basis: 0;
}
.group_2 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    padding: 16px;
    min-width: 50px;
    min-height: 50px;
    flex-grow: 1;
    flex-basis: 0;
}
.single-select-combo {
    height: max-content;
    min-width: min-content;
}
.grid {
    min-width: 600px;
    min-height: 300px;
    flex-grow: 1;
    flex-basis: 0;
}
